doctype html
html(lang="en")
	include ./partials/_head.pug
	
	body
		h1 COUCOU from .pug template tu t'appelles #{etienne.name} !
		p Et tu as #{etienne.age} ans
		
		//- extends ./name of the extends.pug
		//- include keyword for adding a partials
